.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(220, 217, 217);
}
.custom-tooltip {
  width: 200px;
  margin: 0;
  line-height: 24px;
  border: 1px solid #f5f5f5;
  background-color: hsla(0,0%,100%,.8);
  padding: 10px;
  border-radius: 10px;
}
.label {
  margin: 0;
    color: #666;
    font-weight: 700;
}
.intro {
  border-top: 1px solid #f5f5f5;
  margin: 0;
}
.desc {
  margin: 0;
  color: #999;
}
.bar:hover {
  cursor: pointer;
}